<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Use short version -->
            <pattern>%d{HH:mm:ss.SSS} | %-10.10thread | %5p | %-25.25logger{25} | %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <append>false</append> <!-- The LogFileScanner needs an empty file on each run -->
        <encoder>
            <pattern>%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS} | %-20.20thread | %5p | %-25.25logger{25} | %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!-- Doc: https://doc.akka.io/docs/akka/current/typed/logging.html#slf4j-backend -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <neverBlock>true</neverBlock>
        <!-- Can only point to one ref, for now just STDOUT -->
        <appender-ref ref="FILE"/>
    </appender>

    <!-- Turn down Kafka noise -->
    <logger name="kafka" level="WARN"/>
    <!-- Turn down sshj noise in SftpEcho -->
    <logger name="com.hierynomus.sshj" level="ERROR"/>
    <!-- Turn up Akka and control level in application.conf -->
    <logger name="akka" level="DEBUG"/>
    <!-- Turn down Docker noise -->
    <logger name="com.github.dockerjava" level="INFO"/>

    <!-- Turn up Eclipse Paho logging in MqttPahoEcho
    <logger name="org.eclipse.paho" level="DEBUG"/>  -->

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>