# Run Scala Steward with Github Actions
# Doc:
# https://github.com/scala-steward-org/scala-steward-action
name: Scala Steward

on:
  schedule:
    # Run every Sunday @ 12PM UTC
    - cron: "0 0 * * 0"
  #  Run via "Run workflow" button at the Github workflow page
  workflow_dispatch:

jobs:
  scala-steward:
    runs-on: ubuntu-latest
    name: Launch Scala Steward
    steps:
      - name: Launch Scala Steward
        uses: scala-steward-org/scala-steward-action@v2
        with:
          github-token: ${{ secrets.REPO_GITHUB_TOKEN }}
          github-repository: owner/repository